/* TODO : 이거 1순위로 개선할거임 */
/* 지금 보면 버튼 디자인 사실 공용 component으로 들어가도 될거같고 */

/* 컨테이너는 sign과 관련된 페이지에서 메인에 해당하는 좀 뭐랄까 레이아웃 잡아주는 녀석임 */
/* 그래서 컨테이너가 중복될 일이 없음, 뭔가 어떤 그요소에서 컨테이너 만들거면, 그 작은 요소녀석을 다른 이름규칙으로 만들자 */
.container {
    width: 550px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px; 
}

/* 이건 각 페이지마다 타이틀이 있는데 그거 스타일 조정하는 녀석임 */
.sign-title {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
}

/* sign 페이지에서 input에 대응하는 라벨이랑 인풋박스가 차지할 크기를 결정할 컨테이너임 */
.input-container {
    height: 74px;
    width: 300px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 인풋 그 위에 있는 폰트 사이즈 */
.input-lable {
    font-size: 24px;
}

/* 여기는 컴포넌트화 시켜볼만 한데? */
.input-box {
    height: 33px;
    width: 300px;

    padding-left: 10px;

    border-radius: 6px;
    border-width: 2px;
    border-color: #0348C9;
    border-style: solid;

    font-size: 20px;
    font-weight: 500;
}