<link href="/components/header/header-auth.css" rel="stylesheet">
<div class="header-container">
    <p class="title">아무말 대잔치</p>
    <div class="profile-section">
        <div class="profile-image" id="header-profile"></div>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/user/profile" class="dropdown-item">회원정보수정</a>
            <a href="/user/password" class="dropdown-item">비밀번호수정</a>
            <a href="#" class="dropdown-item" id="logout-btn">로그아웃</a>
        </div>
    </div>
</div>
