.header-container {
    height: 50px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

.header-container p {
    padding: 0px;
    margin: 0px;
}

.header-container .title {
    font-size: 34px;
    font-weight: 800;
    color: #0348C9;
}