.profile-upload-label {
    cursor: pointer;
    position: relative;
    display: block;
}

.profile-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #0348C9;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.profile-circle:hover {
    opacity: 0.8;
}

.profile-placeholder {
    position: absolute;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}

.email-text {
    font-size: 20px;
    color: #333;
    margin: 0;
    margin-top: 10px;
}

.delete-text {
    font-size: 16px;
    color: #DC3545;
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.delete-text:hover {
    color: #a02a2a;
}
